@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #959595;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

@layer base {
  :root {
    --background: #121215;
    --foreground: #f9fafb;
    --card: hsl(224 71.4% 4.1%);
    --card-foreground: hsl(210 20% 98%);
    --popover: #121215;
    --popover-foreground: hsl(210 20% 98%);
    --primary: #916bff;
    --primary-foreground: hsl(210 20% 98%);
    --secondary: #a855f7;
    --secondary-foreground: hsl(210 20% 98%);
    --muted: #86869f;
    --muted-foreground: hsl(217.9 10.6% 64.9%);
    --accent: #18181c;
    --accent-foreground: #86869f;
    --destructive: hsl(0, 100%, 73%);
    --destructive-foreground: hsl(210 20% 98%);
    --border: #27272d;
    --input: #86869f;
    --ring: #916bff;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #fff,
      -20px 0 #fff2;
    background: #fff;
  }
  33% {
    box-shadow:
      20px 0 #fff,
      -20px 0 #fff2;
    background: #fff2;
  }
  66% {
    box-shadow:
      20px 0 #fff2,
      -20px 0 #fff;
    background: #fff2;
  }
  100% {
    box-shadow:
      20px 0 #fff2,
      -20px 0 #fff;
    background: #fff;
  }
}

.glassy-container {
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
}

.glassy-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start outside the container */
  width: 65%; /* Extend beyond the container */
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-45deg); /* Skew to create a diagonal line */
  transition: left 0.3s ease-in-out; /* Smooth movement */
}

.glassy-container:hover::before {
  left: 125%; /* Move the line across the container */
}
