@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121215;
    --foreground: hsl(210 20% 98%);
    --card: hsl(224 71.4% 4.1%);
    --card-foreground: hsl(210 20% 98%);
    --popover: hsl(224 71.4% 4.1%);
    --popover-foreground: hsl(210 20% 98%);
    --primary: #916bff;
    --primary-foreground: hsl(210 20% 98%);
    --secondary: #6d43f6;
    --secondary-foreground: hsl(210 20% 98%);
    --muted: hsl(215 27.9% 16.9%);
    --muted-foreground: hsl(217.9 10.6% 64.9%);
    --accent: #18181c;
    --accent-foreground: #86869f;
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 20% 98%);
    --border: #18181c;
    --input: #18181c;
    --ring: #916bff;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
